@model CodeFirstMusicSystem.Models.Album

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mb-4">Details</h1>

    <div class="row">
        <div class="col-md-6">
            <h4>Album</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">Title</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                <dt class="col-sm-3">Release Date</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ReleaseDate)</dd>
            </dl>

            <div class="mt-4">
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Songs</h3>

            <ul class="list-group">
                @foreach (var song in Model.Songs)
                {
                    <li class="list-group-item">@song.TrackSong "@song.Title"</li>
                }
            </ul>
        </div>
    </div>
</div>
