@model CodeFirstMusicSystem.Models.Album

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (var song in Model.Songs)
    {
        <li>@song.Title</li>
    }
</ul>
