@model IEnumerable<CodeFirstMusicSystem.Models.Artist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center mb-5">Artists</h1>

    <div class="row">
        @foreach (var artist in Model)
        {
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@artist.Name</h5>
                            <a href="@Url.Action("ListOfAlbums", new { id = artist.Id })" class="btn btn-primary">View Albums</a>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
