@model IEnumerable<CodeFirstMusicSystem.Models.Artist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Artists</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Albums</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.Name</td>
                <td>
                    <ul>
                        @foreach (var songContributor in artist.SongContributors)
                        {
                            <li>@songContributor.Song.Album.Title</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>