@model IEnumerable<CodeFirstMusicSystem.Models.Artist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Artists</h1>

<ul>
    @foreach (var artist in Model)
    {
        <li>
            <a href="@Url.Action("ListOfAlbums", new { id = artist.Id })">@artist.Name</a>
        </li>
    }
</ul>

