@model CodeFirstMusicSystem.Models.Viewmodel.AlbumArtistViewModel

@{
    ViewData["Title"] = "ListOfAlbums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    @foreach (var artist in Model.Artists)
    {
            <div class="card mb-3">
            <div class="card-header">
                    <h2>Albums for @artist.Name:</h2>
                </div>
            <div class="card-body">
                    <ul class="list-group list-group-flush">
                    @foreach (var album in Model.AlbumsByArtist)
                    {
                            <li class="list-group-item">@album.Title</li>
                    }
                    </ul>
                </div>
            </div>
    }
</div>
